*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, body, p{
    padding: 0;
    margin: 0;
}
#imc{
    padding: 100px;
}
.container-xl{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
}
.col-2{
    flex: 1;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.pr-25{
    padding-right: 25px;
}
.pl-25{
    padding-left: 25px;
}
.gap-20{
    gap: 20px;
}
.column{
    flex-direction: column;
}
.title{
   color: #374046;
   font-size: 50px;
   transform: translateX(-4px);
}
.subtitle{
    color: #b4b6b7;
}
.button-calculate{
    padding: 14px;
    background-color: #147598;
    color: white;
    border-radius: 7px;
    border: none;
}
.input-text{
    border: none;
    outline: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
    max-width: 93%;
}
.legend-box{
    padding: 20px;
    border-radius: 7px;
}
.legend-thumb{
    border-radius: 50%;
    padding: 5px;
}
.thumbImg{
    width: 50px;
    height: 50px;
}